body {
    font-size: 14px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: brown;
    text-transform: uppercase;
}

h2 {
   font-size: 18px;
   text-decoration: underline; 
   color: brown;
}

#imageText {
    font-style: italic;
    font-size: 11px;
}

img {
    max-width: 250px;
}