body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    background-color: darkcyan;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
}
h2 {
    background-color: palevioletred;
    text-transform: uppercase;
     padding: 20px;
}

p {
    background-color: white;
    color: black;
    padding: 20px;
}