h1 {
    color: red;
    font-size: 2.4rem;
    font-weight: bold;
}

h2 {
    color: red;
    font-size: 1.8rem;
    text-decoration: underline;
    font-weight: bold;
}
P {
    font-size: 1.2rem;
}

img {
   border: 2px solid red;
}