header, nav, main, section, article, aside, footer {
    border: 1px solid black;
}

header, footer {
  width: 100%;
}
header nav {
  width: 50%;
}

main {
  display: flex;
  gap: 10px; 
}
section {
  width: 62%;
}
aside {
  width: 38%;
}

article {
  border: 1px dotted red;
  margin-bottom: 10px;
}