body {
    background-image: linear-gradient(-90deg, lightgray, darkgray);
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    background-color: lightgray;
    padding: 10px;
    color: rgb(75, 75, 75);
    margin-top: 30px;
}
.bar {
    padding: 10px;
    text-transform: uppercase;
    margin: 0%;
    color: white;
}

#b14 {
    background-color: rgb(0, 145, 255);
}
#b13 {
     background-color: rgb(29, 157, 255);
}
#b12 {
     background-color: rgb(54, 168, 255);
}
#b11 {
     background-color: #4cb2ff;
}
#b10 {
     background-color: #5fb9ff;
}
#b9 {
     background-color: #6dbffd;
}
#b9 {
     background-color: #72c0fd;
}
#b8 {
     background-color: #82c9ff;
}

#b7 {
     background-color: #2aaa5b;
}

#b6 {
     background-color: hsl(338, 100%, 76%);
}
#b5 {
     background-color: hsl(338, 100%, 72%);
}
#b4 {
     background-color: hsl(338, 100%, 70%);
}
#b3 {
     background-color: hsl(338, 100%, 67%);
}
#b2 {
     background-color: hsl(338, 98%, 63%);
}
#b1 {
     background-color: #fb3980;
}
#b0 {
     background-color: #ff1b6e;
}